.toolbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Assurez-vous que le z-index est plus élevé que les autres éléments si nécessaire */
  background-color: blue;
  height: 48px;
  margin-bottom: 20px;
}
.example-spacer {
  flex: 1 1 auto;
}

.main-body{
  max-width: 1248px;
  margin: 0 auto;
  padding-top: 20px;

  mat-form-field{
    width: 100%;
  }
}
